<div class="drawer lg:drawer-open">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" [checked]="menu()" (click)="menu.set(!menu())">
  <div class="drawer-content">
    <nav class="flex justify-between flex-row">
      <label for="my-drawer" class="btn btn-primary drawer-button lg:hidden">Open drawer</label>
      <h1>Title</h1>
      <button class="link-primary">Login</button>
    </nav>
    <ng-content></ng-content>
  </div>
  <div class="drawer-side absolute">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      <li><a class="link-primary" routerLinkActive="active" routerLink="/home">Home</a></li>
      <li><a class="link-primary" routerLinkActive="active" routerLink="/cookie">Cookie</a></li>
      <li><a class="link-primary" routerLinkActive="active" routerLink="/ssr">ssr</a></li>
      <li><a class="link-primary" routerLinkActive="active" routerLink="/about">about</a></li>
    </ul>
  </div>
</div>